---
import Image from "astro/components/Image.astro";
import Link from "../icons/link.astro";
import Github from "../icons/github.astro";
import Figma from "../icons/figma.astro";
import Npm from "../icons/npm.astro";
const src = Astro.props.src;
const title = Astro.props.title;
const description = Astro.props.description;
const websiteLink = Astro.props.websiteLink;
const githubLink = Astro.props.githubLink;
const figmaLink = Astro.props.figmaLink;
const npmLink = Astro.props.npmLink;
const tools = Astro.props.tools;
---

<div
  class="flex flex-col gap-3 items-start w-[26rem] max-[911px]:w-[40rem] h-max border-dashed border dark:border-cyan-50 rounded-3xl shadow-md dark:shadow-md dark:shadow-cyan-50/10 shadow-cyan-700/10 p-6 border-specialCyan"
>
  <!-- <Loader /> -->
  <Image
    class="object-contain rounded-2xl border shadow-sm dark:shadow-sm dark:shadow-cyan-900"
    width="1000"
    height="1000"
    src={src}
    alt="thumbnail"
  />

  <h1 class="text-xl">{title}</h1>
  <p class="text-sm text-justify">
    {description}
  </p>
  <p class="italic font-light text-xs">
    {tools}
  </p>
  <div class="flex self-end gap-3">
    {
      npmLink && (
        <a target="_blank" href={npmLink}>
          <Npm size="2rem" />
        </a>
      )
    }
    <a target="_blank" href={githubLink}><Github size="2rem" /></a>
    {
      websiteLink && (
        <a target="_blank" href={websiteLink}>
          <Link size="2rem" />
        </a>
      )
    }
    {
      figmaLink && (
        <a target="_blank" href={figmaLink}>
          <Figma size="2rem" />
        </a>
      )
    }
  </div>
</div>
